body{
    margin-left: 60px;
    margin-right: 60px;
    background-image: linear-gradient(lightgrey, darkblue);
    background-repeat: no-repeat;
    height: 100%;
}
html{
    height: 100%;
}
section div img{
    float: left;
    width: 20%;
    height: 20%;
}
aside ul img{
    float:right;
    width: 35%;
    height: 35%;
}
p{
    text-indent: 15px;
    margin-left: 390px;
    text-align: justify;
    line-height: 20px;
}
ul{
    clear: both;
}
aside ul h2{
    padding-top: 20px;
}