body{
    margin-left: 60px;
    margin-right: 60px;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}
a{
    text-decoration: none;
    color:lightgray;
    transition: color 0.1s, font-size 0.1s, letter-spacing 0.1s;
}
a:hover{
    color:white;
    font-size: larger;
}
a:active{
    letter-spacing: 3px;
    font-size: large;
}
nav{
    width: 100%;
    background: linear-gradient(black 40%, rgb(26, 32, 32));
}
nav#mobilnav>div>p{
    display:inline-block;
}
nav#desktopnav>div>p{
    margin:0;
    padding:10px;
    text-align: center;
}
nav#desktopnav{
    display:block;
}
nav#mobilnav{
    display:none;
}
html{
    height: 100%;
}
section div img{
    float: left;
    width: 20%;
    height: 20%;
}
aside ul img{
    float:right;
    width: 35%;
    height: 35%;
}
p{
    text-indent: 15px;
    margin-left: 390px;
    text-align: justify;
    line-height: 20px;
}
ul{
    clear: both;
}
aside ul h2{
    padding-top: 20px;
}
footer p{
    margin: 0%;
}
article h2{
    padding-top: 20px;
}
main p{
    margin: auto;
}
article div img{
    float:right;
    height: 250px;
    margin-right: 70px;
    display: inline;
    margin-top: 100px;
    border-radius: 10px;
}
article p{
    line-height: 45px;
}
section div p{
    margin-right: 50px;
    margin-left: 400px;
}
footer{
    text-align: center;
    font-size: 8    pt;
}
@media screen and (max-width:728px){
    nav#mobilnav{
        display:block;
    }
    nav#desktopnav{
        display:none;
    }
}